@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP',
    sans-serif;
    background-color: #171616;
}

.svge,svg{
    width: 90%;
    margin: auto;
    display: flex;
    height: 30rem;
}
.svge_score {
    display: flex;
    width: 60rem;
}

html{
    font-size: 80.5%;
}

footer{
    padding: .6rem ;
    background:#28282a;
    position:fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer,h3{
    padding-left: 2rem;
    flex: 1 1 10rem;
    color: white;
}

footer,ul{
    flex: 1 1 20rem;
    display: flex;
}
footer,li{
    
    list-style-type: none;
    padding-right: 5rem;
    
}
footer,a{
    text-decoration: none;
    color: white;
    font-size: 1rem;

}
footer,
a:hover{color: orange;}

.colors{padding: 1.2rem;
font-size: 1.5rem;
margin-bottom: 5rem;}

#a_tag5{
justify-content: flex-end;}
#navbarNavDropdown {
    margin-left: 6rem;
}
.main__section{
    min-height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;

}
.div_input{margin: 1.5rem;}
.div_input,input{font-size: 2rem;}

.button{padding: 0 2rem;
font-size: 2rem;
background: rgb(26, 155, 133);
color: white;
border: none;
text-align: center;}
.button:hover{background: rgb(3, 32, 56);}

.question{margin-top: 2rem;}

.copy{font-size: 1.2rem;}
.question,h1{font-size: 1.8rem;}
.score_section {
    width: 90%;
    margin: auto;
    min-height: 50vh;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
.score_text{
    color: rgb(255, 255, 255);
}


.quiz_name{position: absolute;
top: 9rem;
left: 3rem;}


.index_section{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.index_svg{width: 60rem;}
.index_text{flex: 1 1 10rem;height: 21rem;width: 80%;margin: auto;}
.index_image{flex: 1 1 10rem;}



.index_text h1 
{   
    color: white;
    overflow: hidden;
    border-right: .10em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    flex-wrap: wrap;
    letter-spacing: .15rem;
    animation: typing 3.5s steps(40, end),
    blink .75s step-end infinite;
}
.index_text p{
    padding-top: 1rem;
    color: rgb(9, 209, 166);
    border-right: .10em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
        blink .75s step-end infinite;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}



@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}




.sing_section{
    width: 70%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    }


.signin,
.singup{
    color: white;
    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    
}
.signin{position: relative;
height: 25rem;
flex: 1 1 10rem;
width: 40rem;
display: flex;
flex-direction: column;
justify-content: center;
}

#ac_button{font-size: 1.4rem;}
#ac_button2 {
    font-size: 1.4rem;
}

.singup{height: 25rem;
flex: 1 1 10rem;
width: 33rem;
}

.index_text,p{
    padding-top: 1.5rem;
    color: #c2550c;
    font-size: 1.2rem;
}

input{
    margin: 0.4rem;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
}

.div_input{
    color: white;
}

.question,h1{color: white;}

.quiz_name{border: 1px solid rgb(207, 104, 20);
background-color: rgb(192, 108, 29);
padding: 5px;
border-radius: 12px;}

.ac_section{
    width: 80%;
    max-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.ac_text,.ac_h4,.ac_table{margin: 1rem;}



.ac_h4{color: white;}


.section_verify{display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
flex-wrap: wrap;}





.digit-group input {
    width: 30px;
    height: 50px;
    background-color: #18182a;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: white;
    margin: 0 2px;
}

.digit-group .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
}

.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.ver_button{
    font-size: 1.5rem;
    background-color: rgb(20, 19, 19);
    color: white;
    border: none;
    padding: 1.2rem 2rem;
    border: 1px solid black;
    border-radius: 8px;
}
.ver_button:hover{
    background: rgb(14, 13, 13);
}

.section_verify{margin-top: 7rem;
width: 90%;
margin-left: auto;
margin-right: auto;}


#ac_p{
    color: #a64040;
}

#cont{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #28282a;
    min-width: 60%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
#cont:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.div_input {
    font-size: 1.6rem;
}
#rad1{font-size: 1.2rem;}


@media only screen and (max-width:970px) {

    .quiz_name {
        position: relative;
        top: -25px;
        left: auto;
    }

    #cont{margin-top: 1rem;}
}


@media only screen and (max-width:554px) {
    
        footer{
            width: 100%;
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        footer,
        h3 {
            flex: 1 1 2rem;
            color: white;
        }
        footer,
        li {
            list-style-type: none;
            padding-right: 3rem;
        }
      
}



@media only screen and (max-width:780px) {
    .index_svg {
        width: 50rem;
    }

    .index_text{
        margin-top: 2rem;
        text-align: center;
        flex: 1 1 5rem;
    }
    .index_image {
        display: flex;
        width: 90%;
        margin: auto;
        flex: 1 1 10rem;
        justify-content: center;
        align-items: center;
        
    }

}

@media only screen and (max-width:872px) {
    .index_svg{width: 45rem;}

     .index_svg {
         width: 40rem;
     }

     .index_text {
         margin-top: 2rem;
         text-align: center;
         flex: 1 1 5rem;
     }

     .index_image {
         display: flex;
         width: 90%;
         margin: auto;
         flex: 1 1 10rem;
         justify-content: center;
         align-items: center;

     }


}




@media only screen and (max-width:924px){
    .question,
    h1 {
        font-size: 1.4rem;
    }
    .question{padding: 2rem;}
    #cont{width: 80%;}
    .button{font-size: 1.6rem;}
    .colors {
        padding: 1.5rem;
    }
}
    
@media only screen and (max-width:512px) {
    .log_from,input {
        font-size: 1rem;
    }
    .log_reg,input{font-size: 1rem;}
    #ac_button {
        font-size: 1rem;
    }

    #ac_button2 {
        font-size: 1rem;

    }
    .index_text{margin-top: 1rem;
    height: 10rem;}
    
}
.short_section{width: 70%;
margin: auto;}

.input-group{
    margin: 2rem 2rem;
}

#input-groups{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    margin: auto;
}

.nav__icon {
    font-size: 1.2rem;
}

#a_tag1,
#a_tag2,
#a_tag3,
#a_tag4,
#a_tag5,
#a_tag6
{
    color: white;
    font-family: 'Noto Sans JP',
    sans-serif;

}

#vector_19{fill: #c2550c;}



#eye {
    animation: clock 2s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes clock {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}


#left_file {
    animation: plants 1.5s ease infinite alternate;
}




#right_file {
    animation: plants 2s ease infinite alternate;
}

@keyframes plants {

    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-30%);
    }

}





#leaf {
    animation: plantss 2s infinite alternate;
    transform-box: fill-box;
    transform-origin: top
}


@keyframes plantss {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(40deg);
    }

}