body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70.5%;
}

footer{
    padding: 1rem ;
    background: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer,h3{
    padding-left: 2rem;
    flex: 1 1 10rem;
    color: white;
}

footer,ul{
    flex: 1 1 20rem;
    display: flex;
}
footer,li{
    
    list-style-type: none;
    padding-right: 5rem;
    
}
footer,a{
    text-decoration: none;
    color: white;

}

.colors{padding: 1rem;
font-size: 1.2rem;}

#a_tag5{
justify-content: flex-end;}
#navbarNavDropdown {
    margin-left: 5rem;
}
.main__section{
    width: 90%;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.div_input{margin: 1.5rem;}
.div_input,input{font-size: 2rem;}

.button{padding: 0 2rem;
font-size: 2rem;
background: rgb(26, 155, 133);
color: white;
border: none;
text-align: center;}
.button:hover{background: rgb(3, 32, 56);}

.copy{font-size: 1.2rem;}
.question,h1{font-size: 2.2rem;}