{% extends 'head.html' %}
{% block body_block %}
<section class="ac_section">
    <div class="ac_text">
        <h1>Hi {{name}}</h1>
    </div>
    <div class="ac_h4">
        <h4>This all your previous records</h4>
    </div>
    <div class="ac_table">
        <table class="table table-dark table-striped">
            <tr>
                <th>Quiz</th>
                <th>Date</th>
                <th>Time</th>
                <th>Score</th>
            </tr>
        {% if records %}
    
        {%  for stat in records %}
        <tr>
            <td>{{stat.name}}</td>
            <td>{{stat.date}}</td>
            <td>{{stat.time}}</td>
            <td>{{stat.score}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p id="ac_p">No Data Available</p>
        {% endif %}
        </table>
    </div>
</section>
   <footer>
        <h3 class="copy">Shuvra Chakrabarty &copy 2021</h3>
        <div class="div_footer">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
    </footer>
    {% if message %}
    <script>alert('{{message}}')</script>
    {% endif %}
</body>
</html>
{% endblock %}