{% extends 'head.html' %}
{% block body_block %}

    <section class="main__section">
        <div class="quiz_name">
             <h1 class="quiz_text">C Quiz</h1>
        </div>
        <div id="cont">
            <div class="question">
            <h1>{{question}}</h1>
            </div>
            <div class="options">
                <form action="{% url 'base:c' %}" method="POST">
                    {% csrf_token %}
                    <div class="div_input">
                        <input type="radio" name="q1" class="q_radio" id="rad1" value="{{o1}}">{{o1}}
                    </div>
                    <div class="div_input">
                    <input type="radio" name="q1" class="q_radio" id="" value="{{o2}}">{{o2}}
                    </div>
                    <div class="div_input">
                    <input type="radio" name="q1" id="" class="q_radio" value="{{o3}}">{{o3}}
                    </div>
                    <div class="div_input">
                    <input type="radio" name="q1" id="" class="q_radio" value="{{o4}}">{{o4}}
                    </div>
                    <input type="hidden" name="cplus" value="plus">
                    <div class="div_input">
                        <input class="button" type="submit" class="q_radio" name="submit" value="Next">
                    </div>
                </form>
                </div>
        </div>
    </section>
    <footer>
        <h3 class="copy">Shuvra Chakrabarty &copy 2021</h3>
        <div class="div_footer">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
{% endblock %}