<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="{%static 'script/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark colors " style="background-color: #28282a";>
                <div class="container-fluid">
                    <a class="navbar-brand" id="a_tag" href="#">Quizer</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id = "a_tags"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link " id="a_tag4" aria-current="page" href="{% url 'base:index'%}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " id="a_tag3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Quiz
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item a_tag" href="{% url 'base:python' %}">Python</a></li>
                            <li><a class="dropdown-item a_tag" href="{% url 'base:cprog'%}">C</a></li>
                            <li><a class="dropdown-item a_tag" href="{% url 'base:cplus' %}">C++</a></li>
                        </ul>
                         <li class="nav-item">
                        <a class="nav-link " id="a_tag2" aria-current="page" href="{% url 'base:account' %}">My Account</a>
                        </li>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link " id="a_tag5" href="{% url 'base:logout' %}">Log Out</a>
                            </li>
                             <li class="nav-item">
                            <a class="nav-link " id="a_tag5" href="{% url 'base:myaccount' %}">Log In</a>
                            </li>
                    </ul>
                    </div>
                </div>
            </nav>
{% block body_block %}
{% endblock %}