  <header class="main__head">
                <nav class="nav_main">
                    <div class="header_text">
                        <h2>Quzer</h2>
                    </div>
                    <ul class="ul_main">
                        <li class="li__main">
                            <a href="#">Home</a>
                        </li>
                        <li class="li__main">
                            <a href="#">Python</a>
                        </li>
                        <li class="li__main">
                            <a href="#">Home</a>
                        </li>
                        <li class="li__main">
                            <a href="#">Home</a>
                        </li>
                    </ul>
                 </nav>
    </header>

