{% extends 'head.html' %}
{% block body_block %}
    <section class="sing_section">
        <div class="signin">
            <h1>Sign In</h1>
            <form action="{% url 'base:login' %}" method="POST">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Your Email" required>
                <input type="password" name="password" id="" placeholder="password" required>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Sing up">
            </form>
            
        </div>
        <div class="singup">
            <h1>Register</h1>
            <form action="{% url 'base:signup' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="name" id="" placeholder="Your Name" required>
                <input type="email" name="email" id="" placeholder="Email " required>
                <input type="password" name="password" id="" placeholder="password" required>
                <input type="password" name="confpassword" id="" placeholder="Confirm Password" required>
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Sing up">
            </form>   
        </div>
    </section>
   <footer>
        <h3 class="copy">Shuvra Chakrabarty &copy 2021</h3>
        <div class="div_footer">
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
    </footer>
    {% if message %}
    <script>alert('{{message}}')</script>
    {% endif %}
</body>
</html>
{% endblock %}